{% extends "layout.html" %} {% block content %}
<div class="homepage">
  <div class="index">
    <div class="text-top">
      <h1>
        College admissions, made <span class="homepage-index-bold">easy</span>
      </h1>
      <p>Transforming College Applications, Unlocking Futures</p>
    </div>
    <div class="opt-btn">
      <a href="/join" class="button">Join Us</a><br /><br />
      <a href="/rep" class="link-light">I'm a college representative...</a>
    </div>
  </div>
</div>
<script src="/static/scripts/home.js"></script>
{% endblock %}
